<div class="log_sign_wrapper">

  <div class="log_sign_container">

    <h2>LOG IN</h2>

    <div class="form_content">

      <%= form_tag sessions_path do %>

      <div class="form_field">
        <%= label_tag :email %>
        <%= email_field_tag :email, params[:email] %>
      </div>

      <div class="form_field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="event_going">
        <h6><i class="fa fa-circle-o"></i> REMEMBER ME</h6>
        <%= submit_tag "LOG IN" %>
      </div>

      <%end %>



    </div>

    <h5 id="sign_up">
      <!-- New to Eventr? <%= link_to 'Sign up now', new_user_path, :id=>"sign_up_link" %> -->
    </h5>

  </div>

</div>
