<% if @otheruser.eventrinfo != nil %>
<h1>Chatting with <%= @otheruser.eventrinfo.first_name %></h1>
<% else %>
<h1>Chatting with <%=@otheruser.email %></h1>
<%end%>

<div id="conversation-main">
  <div id="convo" data-conversation-id="<%= @conversation.id %>">
    <%= render @conversation.personal_messages %>
  </div>


  <%= form_for @personal_message, url: '#' do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit %>
  <% end %>
</div>
