<%= form_for ([@event, @group]) do |f| %>
<a id="closegroupform" href="">Close</a> <br>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.submit 'create group' %>

<%end%>
