<div id="messages" data-group-id="<%= g.id %>">
  <%= render g.messages %>
</div>


<div id="eventdata">


  <h4><%= g.name %> </h4>

  <div class="side_menu_group_members">
    <% if g.users.length >1 %>
    <h5><%= g.users.length %> EVENTRS GOING</h5>
    <% else %>
    <h5>1 EVENTR GOING</h5>
    <% end %>

  </div>

  <div class="side_menu_group_members_list">
    <% g.users.all.each do |u| %>
      <div class="profile_thumbnail">
        <a href="<%=user_path(u.id)%>", target="_blank">
        <%= image_tag(u.avatar.thumb) %>
        </a>
      </div>
    <% end %>
  </div>

</div>
