<div class="groups_content">
  <% if current_user == nil %>
    <h4><%= g.name %></h4>
  <% elsif g.users.ids.include? current_user.id %>
    <h4><%= link_to g.name, event_group_path(@event, g), class: "eventgrouplink" %></h4>
  <% else %>
    <h4><%= link_to g.name, event_group_path(@event, g), class: "intrudergrouplink" %></h4>
  <% end %>

<ul>
  <% g.users.each do |u| %>
    <li class="profile_member">
    <a href="<%=user_path(u.id)%>", target="_blank">
    <%= image_tag(u.avatar.thumb) %>
    </a></li>
    <% end %>
</ul>

<p> <%= g.description %> </p>
</div>

<div class="messages">
  <%= render @group.messages %>
</div>


<div class="event_going">
  <h6> <strong><%= g.users.length %></strong> EVENTRS </h6>


  <% if g.users.include? current_user %>
    <%= button_to "Leave group", leave_group_path(@event, g.id), :method => "get", :class => "button_sm", :id => 'leavebutton' %>
  <% elsif g.private == true %>
    <% if g.invited_users.include? current_user %>
      <%= button_to "Cancel request?", delete_request_to_join_group_path(@event, g.id), :method => "delete", :class => "button_sm" %>
    <% else %>
      <%= button_to "Request to join", request_to_join_group_path(@event, g.id), :method => "get", :class => "button_sm" %>
    <% end %>
  <% else %>
    <%= button_to "Join", join_group_path(@event, g.id), :method => "get", :class => "button_sm" %>
  <%end%>

</div>
