
<li>
  <%if user != current_user%>
        <% if user.eventrinfo != nil %>
        <a href="<%=user_path(user.id)%>">
        <%= image_tag(user.avatar.thumb)%>
        <%= user.eventrinfo.first_name %> <%= user.eventrinfo.last_name %></a>  | <%= link_to 'send a message', new_personal_message_path(receiver_id: user) %>

        <% else %>
        <a href="<%=user_path(user.id)%>">
        <%= image_tag(user.avatar.thumb)%>
        <%= user.email %></a> | <%= link_to 'send a message', new_personal_message_path(receiver_id: user) %>
        <%end%>
  <%end%>
</li>
