<div class="log_sign_wrapper">

  <div class="log_sign_container">

    <h2>SIGN UP</h2>

    <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><i class="fa fa-close"></i> <%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form_content">

      <div class="form_field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="form_field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="form_field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="event_going">
        <h6>I AGREE TO THE TERMS</h6>
        <%= f.submit %>
      </div>

      <% end %>

    </div>

  </div>

</div>
