<div class="user_profile_wrapper">

  <div class="user_profile_container">

    <div class="user_profile_top">

      <div class="user_profile_picture">
          <%= image_tag(@user.avatar)%>
      </div>

      <div class="user_profile_name">
        <h2><%= "#{@user.eventrinfo.first_name}" %> <%= "#{@user.eventrinfo.last_name}" %></h2>
        <h5>MUSIC LOVER</h5>
      </div>

      <div class="user_profile_bio">
        <h5>BIO</h5>
        <%= "#{@user.eventrinfo.bio}" %>

        <% if current_user == @user %>
          <p> <%= link_to "Edit your profile", edit_user_eventrinfo_path(@user) %> </p>
        <%end%>

      </div>

    </div>

    <h3>Going to</h3>
    <% @user.events.each do |e| %>
      <%= render 'events/single_event_profile', event: e %> <br>
      <%end%>

  </div>

</div>
