<div class="user_profile_wrapper">

  <div class="user_profile_container">

    <div class="user_profile_top">

      <div class="user_profile_picture">
          <%= image_tag(@user.avatar)%>
      </div>

      <div class="user_profile_name">
        <% if @user.eventrinfo != nil %>
          <h2><%= "#{@user.eventrinfo.first_name}" %> <%= "#{@user.eventrinfo.last_name}" %></h2>
        <% else %>
          <h2><%= "#{@user.email}" %></h2>
        <% end %>
        <h5>MUSIC LOVER</h5>
      </div>

      <div class="edit_profile">

          <% if @cuser == @user %>
            <%= link_to edit_user_eventrinfo_path(@user) do%>
              <div class="button_sm">
                <i class="fa fa-pencil fa-lg"></i>
                <p id="edit_profile_text">edit profile</p>
              </div>
            <% end %>
          <% else %>
            <% if Conversation.findconvo(@cuser, @user) != false %>
              <%= link_to user_show_conversation_path(user_id: @user), :class => "see_chat_button" do %>
                <div class="button_sm">
                  <i class="fa fa-comment-o"></i>
                  <p id="edit_profile_text">see chat</p>
                </div>
                <% end %>
            <% else %>
              <%= link_to user_new_conversation_path(user_id: @user), :class => "new_chat_button" do%>
                <div class="button_sm">
                  <i class="fa fa-paper-plane"></i>
                  <p id="edit_profile_text">send message</p>
                </div>
                <% end %>
            <%end %>
          <%end%>

      </div>


      <div class="user_profile_bio">

        <h5>BIO</h5>
        <% if @user.eventrinfo != nil %>
        <%= "#{@user.eventrinfo.bio}" %>
        <% end %>

      </div>

    </div>

    <h4 class="activity">ACTIVITY</h4>

    <div class="user_profile_activity">
      <% @user.events.each do |e| %>
        <%= render 'events/single_event_profile', event: e %>
      <%end%>
    </div>

  </div>

</div>
