<div class="user_profile_wrapper">

  <div class="user_profile_container">

    <div class="user_profile_top">

      <div class="user_profile_picture">
          <%= image_tag(@user.avatar)%>
      </div>

      <div class="user_profile_name">
        <% if @user.eventrinfo != nil %>
          <h2><%= "#{@user.eventrinfo.first_name}" %> <%= "#{@user.eventrinfo.last_name}" %></h2>
        <% else %>
          <h2><%= "#{@user.email}" %></h2>
        <% end %>
        <h5>MUSIC LOVER</h5>
      </div>

      <div class="user_profile_bio">
        <h5>BIO</h5>
        <% if @user.eventrinfo != nil %>
        <%= "#{@user.eventrinfo.bio}" %>
        <%  else %>
        <% end %>

        <% if @cuser == @user %>
          <p> <%= link_to "Edit your profile", edit_user_eventrinfo_path(@user) %> </p>
        <% else %>
          <% if Conversation.findconvo(@cuser, @user) != false %>
            <%= link_to 'see chat', user_show_conversation_path(user_id: @user), :class => "see_chat_button" %>
          <% else %>
            <%= link_to 'send a message', user_new_conversation_path(user_id: @user), :class => "new_chat_button" %>
          <%end %>

        <%end%>

      </div>

    </div>

    <h4 class="activity">ACTIVITY</h4>

    <div class="user_profile_activity">
      <% @user.events.each do |e| %>
      <%= render 'events/single_event_profile', event: e %>
      <%end%>
    </div>

  </div>

</div>
