<div class="acc_set_wrapper">

  <div class="acc_set_container">

    <div class="acc_set_picture">
      <%= image_tag("brian.jpg")%>
    </div>

    <%= "#{@user.eventrinfo.first_name}" %> <%= "#{@user.eventrinfo.last_name}" %>
    Bio: <%= "#{@user.eventrinfo.bio}" %>

    <% if current_user == @user %>
      <p>
        <%= link_to "Edit your profile", edit_user_eventrinfo_path(@user) %>
      </p>
    <%end%>

  </div>

</div>
