<div class= "events">
<img src="<%="#{event.picurl}"%>">
<br>
<%= link_to "#{event.name}", event %>
<br>
Date: <%= event.date %>
<br>
Location: <%= event.location %>
<br>
Description:<%= event.description %>
<br>
Price: <%= event.price %>
</div>
