<!-- <div class="carousel_container"> -->

  <div class="owl-carousel">
    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/img-weeknd.jpg") %></div>
    </div>
    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/dance-contemp.jpg") %></div>
    </div>
    <div class="carousel_item_container">
      <div class="carousel_item" id="weeknd">

        <div id="weeknd_text">
          <h2>the weeknd</h2>
          <span class="starboy">STARBOY: LEGEND OF THE FALL 2017 WORLD TOUR</span>
        </div>
        <%= image_tag ("home-slider/john-legend-1.jpg") %></div>

    </div>
    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/gorillaz.jpg") %></div>
    </div>
    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/img-weeknd.jpg") %></div>
    </div>
  </div>

<!-- </div> -->

    <!-- <div class="carousel_item" id="weeknd">



      <%= image_tag ("home-slider/img-weeknd.jpg") %></div> -->


<main class="index_main">
  <h2>happening near you</h2>
  <h2><%= link_to "Add an event near you", new_event_path %></h2>

    <ul id="events_near_you">
      <% @events.each do |current_event| %>
        <li class="event_container">
          <%= render 'events/index_event', event: current_event %>
        </li>
      <% end %>
    </ul>
</main>
