<!-- <div class="carousel_container"> -->

  <section class="owl-carousel">
    <div class="carousel_item_container">

      <div id="weeknd_text">
        <h2>the weeknd</h2>
        <div class="starboy">STARBOY: LEGEND OF THE FALL 2017 WORLD TOUR</div>
      </div>

      <div class="carousel_item" id="weeknd">

        <%= image_tag ("home-slider/img-weeknd.jpg") %></div>

      </div>
    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/kevin-hart.jpg") %></div>
    </div>

    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/dance-contemp.jpg") %></div>
    </div>

    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/gorillaz.jpg") %></div>
    </div>

    <div class="carousel_item_container">
      <div class="carousel_item"><%= image_tag ("home-slider/john-legend-1.jpg") %></div>
    </div>

  </section>

<main class="index_main">
    <ul id="events_near_you">
      <% @events.each do |current_event| %>
        <li class="event_container">
          <%= render 'events/index_event', event: current_event %>
        </li>
      <% end %>
    </ul>
    <h2><%= link_to "Add an event near you", new_event_path %></h2>

</main>
