<!-- <div class="carousel_container"> -->

  <section class="owl-carousel">
    <div class="carousel_item_container">
      <div class="carousel_item">
        <div class="carousel_item_text">
          <h1>THE WEEKND: STARBOY TOUR</h1>
          <div class="button_container">
            <div class="button_sm_outline">
              <h4>BUY TICKETS</h4>
            </div>
          </div>
        </div>
        <%= link_to "#{image_tag ("home-slider/img-weeknd.jpg")}".html_safe, "http://localhost:3000/events/43" %>
      </div>
    </div>

    <div class="carousel_item_container">
      <div class="carousel_item">
        <div class="carousel_item_text">
          <h1>THE LOVERS MOVEMENTS</h1>
          <div class="button_container">
            <div class="button_sm_outline">
              <h4>BUY TICKETS</h4>
            </div>
          </div>
        </div>
        <%= link_to "#{image_tag ("home-slider/dance-contemp.jpg")}".html_safe, "http://localhost:3000/events/43" %>
      </div>
    </div>

    <!-- <div class="carousel_item_container">
      <div class="carousel_item"><%= link_to "#{image_tag ("home-slider/dance-contemp.jpg")}".html_safe, "http://localhost:3000/events/65" %></div>
    </div> -->

    <!-- <div class="carousel_item_container">
      <div class="carousel_item"><%=link_to "#{image_tag("home-slider/gorillaz.jpg")}".html_safe, "http://localhost:3000/events/48" %></div>
    </div> -->

    <div class="carousel_item_container">
      <div class="carousel_item">
        <div class="carousel_item_text">
          <h1>JOHN LEGEND: DARKNESS AND LIGHT</h1>
          <div class="button_container">
            <div class="button_sm_outline">
              <h4>BUY TICKETS</h4>
            </div>
          </div>
        </div>
        <%= link_to "#{image_tag ("home-slider/john-legend-1.jpg")}".html_safe, "http://localhost:3000/events/52" %>
      </div>
    </div>

    <!-- <div class="carousel_item_container">
      <div class="carousel_item"><%=link_to "#{image_tag("home-slider/gorillaz.jpg")}".html_safe, "http://localhost:3000/events/48" %></div>
    </div> -->

  </section>

<main class="index_main">
    <h3>HAPPENING NEAR YOU</h3>
    <ul id="events_near_you">
      <% @events.each do |current_event| %>
        <li class="event_container">
          <%= render 'events/index_event', event: current_event %>
        </li>
      <% end %>
    </ul>
    <!-- <h2><%= link_to "Add an event near you", new_event_path %></h2> -->

</main>
