<!-- <div class="carousel_container"> -->

  <section class="owl-carousel">

    <div class="carousel_item_container">
      <div class="carousel_item">
        <div class="carousel_item_text">
          <h1>JOHN LEGEND: DARKNESS AND LIGHT</h1>
          <a id="buy_ticket" href="http://www.ticketbeast.ca/results-ticket?evtid=3052901&event=John+Legend">
            <div class="button_container">
              <div class="button_sm_outline" id="home_event_buy_btn">
                <h4>BUY TICKETS</h4>
              </div>
            </div>
          </a>
        </div>
        <%= image_tag ("home-slider/john-legend-1.jpg") %>
      </div>
    </div>

    <div class="carousel_item_container">
      <div class="carousel_item">
        <div class="carousel_item_text">
          <h1 class="home_event_name">VELD MUSIC FESTIVAL</h1>
          <a id="buy_ticket" href="https://www.ticketmaster.ca/event/1000518EBFE5A71D?CAMEFROM=CFC_INK_WEB_VELD_WEBSITE_TICKETS">
            <div class="button_container">
              <div class="button_sm_outline" id="home_event_buy_btn">
                <h4>BUY TICKETS</h4>
              </div>
            </div>
          </a>
        </div>
        <%= image_tag ("home-slider/veld.jpg") %>
      </div>
    </div>

    <div class="carousel_item_container">
      <div class="carousel_item">
        <div class="carousel_item_text">
          <h1>TORONTO WATERFRONT 10K</h1>
          <a id="buy_ticket" href="http://canadarunningseries.com/toronto-10k/">
            <div class="button_container">
              <div class="button_sm_outline" id="home_event_buy_btn">
                <h4>BUY TICKETS</h4>
              </div>
            </div>
          </a>
        </div>
        <%= image_tag ("home-slider/waterfront.jpg") %>
      </div>
    </div>

    <!-- <div class="carousel_item_container">
      <div class="carousel_item"><%= link_to "#{image_tag ("home-slider/dance-contemp.jpg")}".html_safe, "http://localhost:3000/events/65" %></div>
    </div> -->

    <!-- <div class="carousel_item_container">
      <div class="carousel_item"><%=link_to "#{image_tag("home-slider/gorillaz.jpg")}".html_safe, "http://localhost:3000/events/48" %></div>
    </div> -->


    <!-- <div class="carousel_item_container">
      <div class="carousel_item"><%=link_to "#{image_tag("home-slider/gorillaz.jpg")}".html_safe, "http://localhost:3000/events/48" %></div>
    </div> -->

  </section>
<main class="index_main">
    <h3>HAPPENING NEAR YOU</h3>
    <ul id="events_near_you">
      <% @events.each do |current_event| %>
        <li class="event_container">
          <%= render 'events/index_event', event: current_event %>
        </li>
      <% end %>
      <li class="event_container"></li>
      <li class="event_container"></li>
      <li class="event_container"></li>
      <li class="event_container"></li>
    </ul>
    <!-- <h2><%= link_to "Add an event near you", new_event_path %></h2> -->
</main>
