<div class="form_container">
  <h2> Create Public Event </h2>

  <%= form_for @event do |f| %>

  <div id="input_name">
    <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
    </p>
  </div>

  <div id="input_price">
    <p>
    <%= f.label :price %>
    <br>
    <%= f.number_field :price %>
    </p>
  </div>

  <div id="input_description">
    <p>
      <%= f.label :description %>
      <br>
      <%= f.text_field :description %>
    </p>
  </div>

  <div id="input_image_location">

    <div id="input_image">
      <p>
        <%= f.label :image %>
        <br>
        <%= f.text_field :picurl %>
      </p>
    </div>

    <div id="input_location">
      <p>
        <%= f.label :location %>
        <br>
        <%= f.text_field :location %>
      </p>
    </div>

  </div>

  <div id="input_date">
    <p>
    <%= f.label :date %>
    <br>
    <%= f.date_field :date %>
    </p>
  </div>

  <div id="input_time">
    <p>
    <%= f.label :time %>
    <br>
    <%= f.time_field :time %>
    </p>
  </div>

  <div id="input_eventstyle">
    <p>
    <%= f.label :event_style %>
    <br>
    <%= f.text_field :event_style %>
    </p>
  </div>

  <div class="submit">
    <p>
      <%= f.submit %>
    </p>
    <%end%>
  </div>



</div>
