<div class= "events">

  <div class="event_img_content">

    <div class="event_img">
      <a href="<%=event_path(event)%>", target="_blank"> <img id="event_img" src="<%="#{event.cover}"%>">
      </a>
    </div>

    <div class="event_content">

      <div class="event_date">
        <div class="event_mon">
          <%= event.date.strftime("%^b") %>
        </div>
        <div class="event_day">
          <%= event.date.strftime("%d") %>
        </div>
      </div>

      <div class="event_name_time_loc">
        <div class="event_name">
          <%= link_to "#{event.name}", event, :class => "link", target: :_blank %>
        </div>
        <div class="event_time">
          <h5> <%= event.time.strftime('%-I:%M %p')%> </h5>
        </div>
        <div class="event_location">
          <%= event.location %>
        </div>
      </div>
    </div>

  </div>

  <div class="event_going">

    <% if event.goings.length == 1 %>
        <h6><strong><%=event.goings.length%> </strong>EVENTR GOING</h6>
    <% else %>
        <h6><strong><%=event.goings.length%> </strong>EVENTRS GOING</h6>
    <% end %>

    <div class="button_sm">

        <%= link_to "going", join_event_url(event),  target: :_blank %>

    </div>
  </div>

</div>
