<div class= "events">

  <div class="event_img_content">

    <div class="event_img">
      <img src="<%="#{event.picurl}"%>">
    </div>

    <div class="event_content">

      <div class="event_date">
        <div class="event_mon">
          <%=
          d = event.date
          I18n.t("date.abbr_month_names")[d.month]
          %>
        </div>
        <div class="event_day">
          <%=
          d = event.date
          d.strftime("%d")
          %>
        </div>
      </div>

      <div class="event_name_time_loc">
        <div class="event_name">
          <%= link_to "#{event.name}", event, :class => "link" %>
        </div>
        <div class="event_time">
          <h5>
            <%=
            d = event.time
            d.strftime('%-I:%M %p')
            %>
          </h5>
        </div>
        <div class="event_location">
          <%= event.location %>
        </div>
      </div>
    </div>

  </div>

  <div class="event_going">
    <strong><%=event.users.count%> </strong>

    <% if event.users.count == 1 %>
        <h6>EVENTR GOING</h6>
    <% else %>
        <h6>EVENTRS GOING</h6>
    <% end %>
    
    <div class="button_sm">
      interested
    </div>
  </div>

</div>
