<div class= "events">

  <div class="event_img_content">

    <div class="event_img">
      <img src="<%="#{event.cover}"%>">
    </div>

    <div class="event_content">

      <div class="event_date">
        <div class="event_mon">
          <%= event.date.strftime("%^b") %>
        </div>
        <div class="event_day">
          <%= event.date.strftime("%d") %>
        </div>
      </div>

      <div class="event_name_time_loc">
        <div class="event_name">
          <%= link_to "#{event.name}", event, :class => "link" %>
        </div>
        <div class="event_time">
          <h5> <%= event.time.strftime('%-I:%M %p')%> </h5>
        </div>
        <div class="event_location">
          <%= event.location %>
        </div>
      </div>
    </div>

  </div>

  <div class="event_going">

    <% if event.users.count == 1 %>
        <h6><strong><%=event.users.count%> </strong>EVENTR GOING</h6>
    <% else %>
        <h6><strong><%=event.users.count%> </strong>EVENTRS GOING</h6>
    <% end %>

    <div class="button_sm">
      interested
    </div>
  </div>

</div>
