<div class="event_show_header">
  <img src="<%="#{event.picurl}"%>">
</div>

<div class="title_header">

  <div class="title_content">

    <div class="event_show_date">
      <div class="event_mon">
        <%=
        d = event.date
          I18n.t("date.abbr_month_names")[d.month]
        %>
      </div>
      <div class="event_show_day">
        <%=
        d = event.date
        d.strftime("%d")
        %>
      </div>
    </div>

    <div class="title_info">
      <span class="title_date">
        <%= d = event.date
          d.strftime("%A, %B %d at %I:%M %p")
          %>
      </span>
      <h2><%= link_to "#{event.name}", event %></h2>
      <span class="title_location"><%= event.location %></span>
    </div>

  </div>
</div>

<div class="event_main_wrapper">

  <div class="event_main_info">

    <div class="event_description_wrapper">

      <h4>DESCRIPTION</h4>
      <div class="event_description">
        Description <%= event.description %>
      </div>

    </div>

    <div class="groups_wrapper">

      <div class="heading_btn">
        <h4>GROUPS</h4>
        <p> <%= link_to '+ Create a new group', new_event_group_path(@event) %> </p>
      </div>

      <div class="groups_container">

        <% @event.groups.each do |g| %>

          <% if g.id != nil %>

          <li class="groups">
            <div class="groups_content">
              <%= render 'groups/single_group', g: g %> <br>
            </div>

            <div class="event_going">
              <h6>
                <strong>5</strong> EVENTRS
              </h6>
              <div class="button_sm">
                <%= link_to 'Join', join_group_path(@event, g.id) %> <br>
              </div>
            </div>
          </li>
          <%end%>
      <%end%>

      </div>
      <p><%= link_to 'Back to all events', events_path %></p>


    </div>

    <div class="reviews">
      <%= link_to 'Edit', edit_event_path(@event) %>
      <%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete the event #{@event.name}? This cannot be undone!"}%>

      <h3> Review list </h3>
        <% @event.reviews.each do |review| %>
          <p><%= review.comment %></p>
          <p><%= review.user %></p> <br>
        <%end%>

      <% if current_user %>

        <%= form_for([@event, @review]) do |f| %>
          <% if @review.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

                <ul>
                  <% @review.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>

          <p>
            <%= f.label :create_review %> <br>
            <%= f.text_area :comment %>
          </p>

          <p> <%= f.submit %> </p>
        <% end %>

        <% else %>
        <p> Please <%= link_to 'Log In', new_session_path %> or <%= link_to 'Sign Up', new_user_path%> to add a review </p>
      <% end %>
    </div>

  </div>

  <div class="event_side_info">

    <div class="event_map_wrapper">

      <h4>MAP</h4>
      <div id="map" data-parameter1='<%= event.latitude %>' data-parameter2='<%= event.longitude %>'>
        <script>
        function initMap() {
          var lat = parseFloat($('#map').attr('data-parameter1'));
          var lng = parseFloat($('#map').attr('data-parameter2'));
          var eventlocation = {lat, lng};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: eventlocation
          });
          var marker = new google.maps.Marker({
            position: eventlocation,
            map: map,
            title: 'Event location',
            label: 'E'
          });
        }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCicAETBLou3SdGkO9emwhptyQWfSD6Sp0&callback=initMap">
        </script>
      </div>

    </div>

  </div>

</div>
