<div class="events_wrapper">

  <div class= "events">

    <div class="title_header">
      <h2><%= link_to "#{event.name}", event %></h2>
    </div>

    <div class="event_header">
      <img src="<%="#{event.picurl}"%>">
    </div>

    <div class="event_info_wrapper">

        <div class="event_gen_info">
          Date: <%= event.date %>
          <br>
          Location: <%= event.location %>
          <br>
          Time: <%= event.time %>
        </div>

    </div>

  </div>


  <h3>Google map test</h3>
      <div style="height: 400px; width: 100%;" id="map">
            <script>
          function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCicAETBLou3SdGkO9emwhptyQWfSD6Sp0&callback=initMap">
        </script>
      </div>










    <br>
    Description:<%= event.description %>
    <br>
    Price: <%= event.price %>
    <br>
    Time: <%= event.time %>
    <br>
    Event Style: <%= event.event_style %>

</div>
