<div class="events_wrapper">

<div class= "events">

  <div class="event_header">
    <img src="<%="#{event.picurl}"%>">

  </div>
<br>
<%= link_to "#{event.name}", event %>
<br>
Date: <%= event.date %>
<br>
Location: <%= event.location %>
<br>
Description:<%= event.description %>
<br>
Price: <%= event.price %>
<br>
Time: <%= event.time %>
<br>
Venue Style: <%= event.venue_style %>
<br>
Music Style: <%= event.music_style %>
</div>

</div>
