<div class= "user_activity_events">

  <div class="user_activity_content">

    <div class="activity_event_img">
      <img src="<%="#{event.picurl}"%>">
    </div>

    <div class="event_content">

      <div class="activity_event_name_time_loc_container">

        <div class="activity_event_name_time_loc" >
          <div class="event_name">
            <%= link_to "#{event.name}", event, :class => "link" %>
          </div>
          <div class="event_time">
            <h5> <%= event.time.strftime('%-I:%M %p')%></h5>
          </div>
          <div class="event_location">
            <%= event.location %>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="event_going">

      <% if event.users.count == 1 %>
          <h6><strong><%=event.users.count%> </strong>EVENTR GOING</h6>
      <% else %>
          <h6><strong><%=event.users.count%> </strong>EVENTRS GOING</h6>
      <% end %>
    </div> -->

  </div>


</div>
