<div class="events_wrapper">

  <div class= "events">

    <div class="title_header">
      <h2><%= link_to "#{event.name}", event %></h2>
    </div>

    <div class="event_header">
      <img src="<%="#{event.picurl}"%>">
    </div>

    <div class="event_gen_info">
      Date: <%= event.date %>
      <br>
      Location: <%= event.location %>
    </div>

    <br>

    <br>
    Description:<%= event.description %>
    <br>
    Price: <%= event.price %>
    <br>
    Time: <%= event.time %>
    <br>
    Event Style: <%= event.event_style %>

  </div>

</div>
