<div class="events_wrapper">

  <div class= "events">

    <div class="title_header">
      <h2><%= link_to "#{event.name}", event %></h2>
    </div>

    <div class="event_header">
      <img src="<%="#{event.picurl}"%>">
    </div>

    <div class="event_info_wrapper">

        <div class="event_gen_info">
          Date: <%= event.date %>
          <br>
          Location: <%= event.location %>
          <br>
          Time: <%= event.time %>
          <!-- <br>
          Venue Style: <%= event.venue_style %>
          <br>
          Music Style: <%= event.music_style %> -->
        </div>

        <div class="event_main_info">
          <p>Thank you for purchasing this card template from PhotographyPla.net! In this documentation we'll
cover the process of editing the card template to suit your needs.
The screenshots in this documentation may not be from the exact card that you purchased, but the basic
editing process is the same.
<br><br>
Here are some details about our graduation announcement card templates:
<br><br>
• Some of the templates include both a font and back design, while others are intended for a
single-sided card. The details of each template is listed on the product page on our site.
<br>
• The templates are for card sizes of 5 inches by 7 inches, with a bleed area included. The
templates are created with the specs for printing at Bay Photo Lab, but you can use your printer
or lab of choice. Regardless of where you choose to print your cards, be sure that you check
their requirements and specifications before submitting them for printing. PhotographyPla.net
cannot accept any responsibility related to the printed products created through the use of our
templates.</p>
          <!-- Description:<%= event.description %>
          <br>
          Price: <%= event.price %>
          <br> -->
        </div>



        <div class="map">
          ddasdsdasdasdsadasdasdsa
        </div>

    </div>

  </div>



</div>
