<div class="index_header_container">

  <div class="index_header">
    <div class="jlegend">

      <div class="jlegend_text">
        <h3>JOHN LEGEND</h3>
      </div>

    </div>
    <%= image_tag "header-john-legend.jpg" %>
  </div>

</div>

<div class="index_search">
  <div class="search_inputs">
    <div class="search_search">
      <div class="search_label">
        <h5>SEARCH</h6>
        </div>
      <form id="my_search_form">
      <div class="search_field">
        <h4><%= form_tag(events_path, :method => "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "The Weeknd" %>
        <% end %> </h4>
      </div>
    </div>
    </form>


    <div class="search_where">
      <div class="search_label">
        <h5>WHERE</h6>
        </div>
      <div class="search_field">
        <h4><%= form_tag(events_path, :method => "get") do %>
        <%= text_field_tag :search, params[:where_search], placeholder: "Toronto" %>
        <% end %> </h4>
      </div>
    </div>

    <div class="search_category">
      <div class="search_label">
        <h5>CATEGORY</h6>
        </div>
      <div class="search_field">
        <h4><%= form_tag(events_path, :method => "get") do %>
        <%= text_field_tag :search, params[:category_search], placeholder: "Music" %>
        <% end %> </h4>
      </div>
    </div>

  </div>

    <input type="submit" value="SEARCH" form="my_search_form">

</div>

<%= render "events/search_filter" %>
<div class="events_all">
  <ul id="events_near_you">
    <% @events.each do |current_event| %>
    <li class="event_container">
      <%= render 'events/index_event', event: current_event %>
    </li>
    <% end %>
    <li class="event_container"></li>
    <li class="event_container"></li>
    <li class="event_container"></li>
    <li class="event_container"></li>
  </ul>
</div>
