<div class="title_header">
  <div class="title_content">


    <div class="title_info">
      <div class="event_show_date">
        <div class="event_mon">
          <%= @event.date.strftime("%^b") %>
        </div>

        <div class="event_show_day">
          <%= @event.date.strftime("%d") %>
        </div>
      </div>

      <div class="event_show_date_name_loc">
        <span class="title_date"><%= @event.date.strftime("%A, %B %-d at %I:%M %p") %></span>
        <h2><%= @event.name %></h2>
        <span class="title_location"><%= @event.location %></span>
      </div>
    </div>

      <% if @event.users.include? @cuser %>
        <%= link_to leave_event_path(@event) do%>
          <div class="button_sm">Leave event</div>
        <% end %>
        <% else %>
        <%= link_to join_event_path(@event) do%>
          <div class="button_sm">Going</div>
        <% end %>
      <%end%>


  </div>
</div>

<div class="event_main_wrapper">

  <div class="event_main_info">

    <div class="event_description_wrapper">

      <div class="event_show_header">
        <img src="<%="#{@event.picurl}"%>">
      </div>

      <h4 id="event_show_heading">DESCRIPTION</h4>

      <div class="event_description">
        Description <%= @event.description %>
        <!-- UNSTYLED INFO ADDED FROM HOSTINFO WITH CHECK TO MAKE SURE IT EXISTS-->
        <% if @event.user.hostinfo != nil %>
          <p>Host name: <%= @event.user.hostinfo.name %></p>
          <p>Host Address: <%= @event.user.hostinfo.address %></p>
          <p>Host Website: <%= @event.user.hostinfo.website %></p>
        <% end %>
      </div>
    </div>

    <!-- GROUPS SECTION -->
    <div class="heading_btn">
      <h4>GROUPS</h4>
      <div id="create_group_btn_container">
        <% if @cuser %>
        <p id="single_group"> <%= link_to '+ Create a new group', new_event_group_path(@event) %> </p>
        <% else %>
        <p id="login_create_group"> <%= link_to 'Log in to create a new group', new_session_path %></p>
        <% end %>
      </div>
    </div>

    <div class="groups_wrapper">

      <!-- Create a new group form -->
      <%= render 'groups/group_form' %>

      <!-- Individual group containers -->
      <div class="groups_container">
        <% @groups.each do |g| %>
          <% if g.id != nil %>
            <li class="groups">
                <%= render 'groups/single_group', g: g %>
            </li>
          <%end%>
        <%end%>
        <!-- Hacky fix for adding 2 ghost groups to fill space -->
        <li class="groups"></li>
        <li class="groups"></li>
      </div>

    </div>

<% if true == false %>
    <!-- REVIEWS SECTION -->

    <!-- <div class="reviews">

      <h3> Review list </h3>
        <% @event.reviews.each do |review| %>
          <% if review.id != nil %>
            <p><%= review.comment %></p>
            <p><%= review.user.eventrinfo.first_name %> <%= review.user.eventrinfo.last_name %></p>
            <p><%= review.created_at.strftime("%a %B %e, %Y ") %></p> <br>
          <%end%>
        <%end%>

      <% if current_user %>

        <%= form_for([@event, @review]) do |f| %>
          <% if @review.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

              <ul>
                <% @review.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <p>
            <%= f.label :leave_a_review %> <br>
            <%= f.text_area :comment %>
          </p>

          <p> <%= f.submit %> </p>
        <% end %>

      <% else %>
        <p> Please <%= link_to 'Log In', new_session_path %> or <%= link_to 'Sign Up', new_user_path%> to add a review </p>
      <% end %>
    </div>
 -->
 <% end %>

    <div class="edit_delete">
      <% if session[:user_id] == @event.user_id %>
        <%= link_to 'Edit', edit_event_path(@event) %>
        <%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete the event #{@event.name}? This cannot be undone!"}%>
      <% end %>
    </div>

    <!-- <p><%= link_to 'Back to all events', events_path %></p> -->

  </div>


  <div class="event_side_info">

    <div class="event_map_wrapper">
      <div id="map" data-parameter1='<%= @event.latitude %>' data-parameter2='<%= @event.longitude %>'></div>
    </div>

    <div class="event_show_eventrs_going_container">
      <h5 id="event_show_heading">
      <% count = @event.goings.count %>
      <% if count > 1 %>
      <%= "#{count} EVENTRS GOING" %>
      <% else %>
      <%= "#{count} EVENTR GOING" %>
      <%end%>

      </h5>
      <!-- <% if @event.users.include? current_user %>

        <%= link_to 'Leave event', leave_event_path(@event) %> <br>
      <% else %>
        <%= link_to 'Going', join_event_path(@event) %> <br>
      <%end%> -->

      <ul class="event_show_eventrs_going">
      <% @event.users.each do |u| %>
      <a href="<%=user_path(u.id)%>", target="_blank">
      <li class="event_show_eventrs_going_thumbnail"><%= image_tag(u.avatar.thumb) %>
      </a>
      </li>
      <%end%>
      </ul>
    </div>

  </div>

</div>
