<%= render 'single_event', event: @event %>

<h1> <%= @event.name %> </h1>

<p>
  <%= link_to 'Back to all events', events_path %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete the event #{@event.name}? This cannot be undone!"}%>

<h3> Reviews </h3>
<p> Reviews for <%= @event.name %>
  <% @event.reviews.each do |review| %>
  <p>
      <%= review.comment %>
      <br>
    </p>
  <%end%>

  <% if current_user %>
<h4> New Review </h4>

<%= form_for([@event, @review]) do |f| %>

<% if @review.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

       <ul>
       <% @review.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>

<p>
<%= f.label :comment %>
<%= f.text_area :comment %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>

<% else %>
<p> Please <%= link_to 'Log In', new_session_path %> or <%= link_to 'Sign Up', new_user_path%> to add a review
</p>
<% end %>
