<div>

<% if conversation.with(current_user).eventrinfo != nil %>
<%= link_to conversation_path(conversation) do %>
  <%= conversation.with(current_user).eventrinfo.first_name %>
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
  <br>
    <em><%= conversation.personal_messages.last.created_at.strftime("%I: %M %p") %></em>
  <hr>
<%end %>
 <% else %>
 <%= link_to conversation_path(conversation) do %>
<%= conversation.with(current_user).email %>
 <br>
 <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
 <br>
     <em><%= conversation.personal_messages.last.created_at.strftime("%I: %M %p") %></em>
 <hr>
 <%end %>
<%end %>
</div>
