<div class="pmessage">
  <div class="chat_user">
    <div class="profile_thumbnail">
      <a href="<%=user_path(personal_message.user.id)%>">
      <%= image_tag(personal_message.user.avatar.thumb) %>
      </a>
    </div>
    <div class="side_menu_chat_name_msg">
      <div class="name_time">
        <h5><%= personal_message.user.eventrinfo.first_name %> <%= personal_message.user.eventrinfo.last_name %></h5>
        <h5><%= personal_message.created_at %></h5>
      </div>
      <p><%= personal_message.body %></p>
    </div>
  </div>
</div>
