<% if @receiver.eventrinfo != nil %>
<h1>New message to <%= @receiver.eventrinfo.first_name %></h1>
<% else %>
<h1>New message to <%= @receiver.email %></h1>
<%end%>

<%= form_for @personal_message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
<% end %>
