
<% if current_user %>
  <% if User.find(session[:user_id]).eventrinfo ==nil  %>
    <div class="dropdown_menu_mobile">
        <%= link_to 'Complete your profile', new_user_eventrinfo_path(session[:user_id]),:id=> "dropdown_profile_link" %>
        <%= link_to 'Message', users_path %>
        <%= link_to 'Log Out', session_path("current"), :method => :delete%>
    <%else%>

    <div class="dropdown_menu_mobile">
      <div class="dropdown_menu_user">
        <%= link_to "#{current_user.eventrinfo.first_name}", (user_path(session[:user_id])) %>
        <!-- <div class="profile_thumbnail">
          <%= image_tag(current_user.avatar, :class=>"dropbtn") %>
        </div> -->
      </div>
      <div class="dropdown_menu_links">
        <a href="/">Home</a>
        <a href="/events">Browse</a>
        <%= link_to 'Message', users_path %>
        <%= link_to 'Log Out', session_path("current"), :method => :delete%>
      </div>
    </div>
    <% end %>
  <% else %>
  <%= link_to 'Log In', new_session_path %> <%= link_to 'Sign Up', new_user_path %>
  <%end%>
