
<% if @cuser %>
  <% if @cuser.eventrinfo == nil  %>
    <div class="dropdown_menu_mobile">
      <div class="dropdown_menu_user">
        <%= link_to 'Complete your profile', new_user_eventrinfo_path(session[:user_id]),:id=> "dropdown_profile_link" %>
        <i class="fa fa-user-o fa-lg"></i>
      </div>
      <div class="dropdown_menu_links">
        <%= link_to 'Message', users_path %>
        <%= link_to 'Log Out', session_path("current"), :method => :delete%>
      </div>
    </div>
    <%else%>

    <div class="dropdown_menu_mobile">
      <div class="dropdown_menu_user">
        <%= link_to "#{@cuser.eventrinfo.first_name}", (user_path(session[:user_id])) %>
        <i class="fa fa-user-o fa-lg"></i>
      </div>
      <div class="dropdown_menu_links">
        <a href="/">Home</a>
        <a href="/events">Browse</a>
        <%= link_to 'Message', users_path %>
        <%= link_to 'Log Out', session_path("current"), :method => :delete%>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="dropdown_menu_links">
    <a href="/">Home</a>
    <a href="/events">Browse</a>
    <%= link_to 'Log In', new_session_path %>
    <%= link_to 'Sign Up', new_user_path %>
  </div>
<%end%>
