<!DOCTYPE html>
<html>
  <head>
    <title>Eventr</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCicAETBLou3SdGkO9emwhptyQWfSD6Sp0"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= stylesheet_link_tag "owl.carousel.min" %>
    <%= stylesheet_link_tag "owl.theme.default.min" %>

  </head>

  <nav>

    <div class="logo">
      <a href="/"><%= image_tag ("eventr-logo.svg")%></a>
    </div>

    <div class="nav_links">

      <div class="nav_search">
          <%= image_tag ("ic_search_black_24px.svg") %>
          <%= form_tag(events_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "SEARCH EVENTS" %>
          <% end %>
      </div>

      <a href="/">HOME</a>
      <a href="/events">BROWSE</a>

        <% if current_user %>

            <% if User.find(session[:user_id]).eventrinfo ==nil  %>
                    <h4> <%= link_to 'Complete your profile!', new_user_eventrinfo_path(session[:user_id]) %> </h4>
                    <%= link_to 'Log Out', session_path("current"), :method => :delete%>
            <%else%>
                    <div class="profile_thumbnail_wrapper">
                      <%= image_tag(current_user.avatar, :class=>"dropbtn", :onclick=>"myFunction()") %>
                    </div>
                    <div id="myDropdown" class="dropdown-content">
                      <%= image_tag("dropdown-arrow-01.svg") %>
                      <%= link_to "#{current_user.eventrinfo.first_name}", (user_path(session[:user_id])), :id=> "dropdown_profile_link" %>
                      <%= link_to 'Message', users_path %>
                      <%= link_to 'Log Out', session_path("current"), :method => :delete%>
                    </div>

              <% end %>

        <% else %>
        <%= link_to 'LOG IN', new_session_path %> <%= link_to 'SIGN UP', new_user_path %>
        <%end%>

      <div class="invis_temp">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

    </div>

  </nav>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag "jquery.min"%>
  <%= javascript_include_tag "owl.carousel.min"%>

</html>
