<!DOCTYPE html>
<html>
  <head>
    <title>Eventr</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCicAETBLou3SdGkO9emwhptyQWfSD6Sp0"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "owl.carousel" %>
    <%= stylesheet_link_tag "owl.theme.default.min" %>

  </head>

  <!-- NAVIGATION BAR -->

  <nav>

    <div class="logo">
      <a href="/" id="eventr_logo_btn">
        <%= image_tag ("eventr-logo.svg"), :class=>"eventr_home_btn_on"%>
        <%= image_tag ("eventr-logo.gif"), :class=>"eventr_home_btn_off"%>
      </a>

    </div>

    <div class="logo_sm">
      <%= image_tag ("eventr-logo-sm.svg"), :class=>"eventr_home_btn"%>
      <i class="fa fa-angle-up"></i>
    </div>

    <div class="nav_search_links">

      <div class="nav_search">
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "SEARCH EVENTS" %>
        <%= image_tag ("ic_search_black_24px.svg") %>
        <% end %>
      </div>

      <div class="nav_links">

      <a href="/">HOME</a>
      <a href="/events">BROWSE</a>

        <% if current_user %>
          <% if User.find(session[:user_id]).eventrinfo ==nil  %>
            <div class="profile_thumbnail_wrapper">
              <div class="profile_thumbnail">
                <%= image_tag(current_user.avatar, :class=>"dropbtn") %>
              </div>
              <div id="myDropdown" class="dropdown-content">
                <%= image_tag("dropdown-arrow-01.svg") %>
                <%= link_to 'Complete your profile', new_user_eventrinfo_path(session[:user_id]),:id=> "dropdown_profile_link" %>
                <%= link_to 'Message', users_path %>
                <%= link_to 'Log Out', session_path("current"), :method => :delete%>
              </div>
            <%else%>
            <div class="profile_thumbnail_wrapper">
              <div class="profile_thumbnail">
                <%= image_tag(current_user.avatar, :class=>"dropbtn") %>
              </div>
              <div id="myDropdown" class="dropdown-content">
                <%= image_tag("dropdown-arrow-01.svg") %>
                <%= link_to "#{current_user.eventrinfo.first_name}", (user_path(session[:user_id])), :id=> "dropdown_profile_link" %>
                <%= link_to 'Message', users_path %>
                <%= link_to 'Log Out', session_path("current"), :method => :delete%>
              </div>
            </div>
            <% end %>
          <% else %>
          <%= link_to 'LOG IN', new_session_path %> <%= link_to 'SIGN UP', new_user_path %>
          <%end%>

      <div class="invis_temp">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

    </div>

    </div>

  </nav>

  <div class="dropdown_mobile">
    <%= render 'layouts/dropdown' %>
  </div>

  <!-- SIDE MENU -->

  <!-- Chat button -->
  <div class="trigger_chat_btn_container">

    <div class="notification_count">
      <% if @user && @user.ownedrequests.empty? == false %>
        <i class="fa fa-circle fa-lg"></i>
        <h6> <%= @user.ownedrequests.count %> </h6>
      <% end %>
    </div>

    <div class="trigger_chat_btn">
      <i class="fa fa-comment fa-2x"></i>
    </div>

  </div>

  <div class="side_menu_wrapper">

    <div class="side_menu_container">

      <div class="side_menu_top_bar">
        <div class="side_menu_back_chat_container">
          <div class="side_menu_back_chat">
            <i class="fa fa-chevron-left"></i> Chat
          </div>
        </div>
        <div class="close_container">
          <div class="event_details_btn_container" id="event_details_btn_sm">
            <%= image_tag('eventr-logo-short.svg', :class=>"event_details_btn_on") %>
            <%= image_tag('eventr-logo-short.gif', :class=>"event_details_btn_off") %>
          </div>
          <i class="fa fa-close fa-lg" id="side_menu_close"></i>
        </div>
      </div>

      <!-- GROUP CONTENT CONTAINER -->
      <% if (current_user != nil) && (current_user.groups.empty? != true) %>
      <div class="side_menu_group_content">

        <div class="side_menu_group_event_details">
          <div class="side_menu_group_event_photo">
            <%= image_tag("home-slider/img-weeknd.jpg") %>
          </div>
        </div>

        <div class="side_menu_group_info">

          <h4><%= current_user.groups.first.name %> </h4>

          <div class="side_menu_group_members">
            <h5><%= current_user.groups.first.users.count %> EVENTRS GOING</h5>
          </div>

          <div class="side_menu_group_members_list">
            <% current_user.groups.first.users.all.each do |u| %>
              <div class="profile_thumbnail">
              <a href="<%=user_path(u.id)%>">
              <%= image_tag(u.avatar.thumb) %>
              </a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="side_menu_chat">
          <%= render "groups/sidebar_chat", g: current_user.groups.first %>
        </div>
        <% if (current_user != nil) && (current_user.groups.empty? != true) %>
        <div class="side_menu_chat_input">
          <div class="map_icon_container">
            <i class="fa fa-map-marker fa-lg"></i>
          </div>
          <%= render "groups/sidebar_form", g: current_user.groups.first %>
        </div>
        <% end %>

      </div>

      <!-- MAIN MENU -->
      <div class="side_menu_main_content">

        <!-- PENDING REQUEST -->

        <h5 id="pending">PENDING REQUESTS <i class="fa fa-chevron-up"></i></h5>

        <div class="side_menu_main_pending">
          <% if @user.ownedrequests.empty? != true %>
          <% @user.ownedrequests.each do |request| %>
                    <div class="request_pending_container">

                      <div class="profile_thumbnail">
                        <%= image_tag(request.invited_user.avatar.thumb) %>
                      </div>

                      <div class="request_pending_info">

                        <%= request.invited_user.eventrinfo.first_name %> <%= request.invited_user.eventrinfo.last_name %>
                        <p>wants to join <strong><%= request.requested_group.name %></strong></p>
                        <div class="accept_reject">
                          <div class="button_sm">
                            <%= link_to 'Accept', accept_request_path(event_id: request.requested_group.event_id, id: request.group_id, request_id: request.id) %>
                          </div>
                          <div class="button_sm_outline_black">
                            <%= link_to 'Reject', reject_request_path(event_id: request.requested_group.event_id, id: request.group_id, request_id: request.id) %>
                          </div>
                        </div>
                      </div>

                    </div>

                <% end %>
          <% end %>
        </div>

        <!-- GROUPS SECTION -->
        <div class="side_menu_main_groups">

          <h5 id="groups">GROUPS <i class="fa fa-chevron-up"></i></h5>

          <div class="side_menu_main_groups_list">
            <% @user.groups.each do |g| %>

              <%=link_to event_group_url(g.event.id, g.id), class: 'grouplink' do %>
                <div class="side_menu_main_groups_item">
                  <div class="profile_thumbnail">
                    <%= image_tag(g.event.picurl3) %>
                  </div>
                  <div class="main_menu_group_content">
                    <h4><%= g.name %></h4>
                    <h6><%= g.users.count %> EVENTRS</h6>
                  </div>
                </div>
              <% end %>

            <% end %>
          </div>

        </div>


        <% end %>
        <!-- EVENTRS SECTION -->

        <div class="side_menu_main_eventrs">
          <h5 id="eventrs">EVENTRS <i class="fa fa-chevron-up"></i></h5>
          <% if (false == true) %>
          <% @user.conversations.all.each do |c| %>
          <div class="side_menu_main_eventrs_list">
            <div class="side_menu_main_eventrs_item">
            <div class="profile_thumbnail">

            <%= image_tag(current_user.avatar.thumb) %>
            </div>
            <div class="side_menu_chat_name_msg">
              <div class="name_time">

                <% if ccurrent_user.eventrinfo != nil %>

                <%=link_to link_to conversation_path(c.id) do %>
                <a href = "<%= user_path(c.with(current_user).id)%>">
                <h5><%= c.with(current_user).eventrinfo.first_name %> <%= c.with(current_user).eventrinfo.last_name %></h5>
                                <em><%= c.personal_messages.last.body.truncate(50) %></em>
                                <br>
                                <em><%= c.personal_messages.last.created_at.strftime("%I: %M %p") %></em>
                <%end%>

                <% else %>
                <%=link_to conversation_path(c.id)do %>
                <%= c.with(current_user).email %>
                <em><%= c.personal_messages %></em>
                <br>
                <em><%= c.personal_messages %></em>
                <%end%>
                <%end%>
              </div>
            </div>
          </div>
          </div>
          <%end %>
          <%end%>
        </div>

      </div>

    </div>

  </div>

  <body>
    <%= yield %>

    <footer>
      <%= render 'layouts/footer' %>

    </footer>

    <div class="error">
      <i class="fa fa-caret-left fa-lg"></i>
      <i class="fa fa-close"></i>
    </div>
  </body>



</html>
