<!DOCTYPE html>
<html>
  <head>
    <title>Eventr</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCicAETBLou3SdGkO9emwhptyQWfSD6Sp0"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

    <%= stylesheet_link_tag "owl.carousel" %>
    <%= stylesheet_link_tag "owl.theme.default.min" %>

  </head>

  <!-- NAVIGATION BAR -->

  <nav>

    <div class="logo">
      <a href="/"><%= image_tag ("eventr-logo.svg")%></a>
    </div>

    <div class="nav_links">

      <div class="nav_search">
          <%= image_tag ("ic_search_black_24px.svg") %>
          <%= form_tag(events_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "SEARCH EVENTS" %>
          <% end %>
      </div>

      <a href="/">HOME</a>
      <a href="/events">BROWSE</a>

        <% if current_user %>
          <% if User.find(session[:user_id]).eventrinfo ==nil  %>
            <h4> <%= link_to 'Complete your profile!', new_user_eventrinfo_path(session[:user_id]) %> </h4>
            <%= link_to 'Log Out', session_path("current"), :method => :delete%>
            <%else%>
            <div class="profile_thumbnail_wrapper">
              <div class="profile_thumbnail">
                <%= image_tag(current_user.avatar, :class=>"dropbtn") %>
              </div>
              <div id="myDropdown" class="dropdown-content">
                <%= image_tag("dropdown-arrow-01.svg") %>
                <%= link_to "#{current_user.eventrinfo.first_name}", (user_path(session[:user_id])), :id=> "dropdown_profile_link" %>
                <%= link_to 'Message', users_path %>
                <%= link_to 'Log Out', session_path("current"), :method => :delete%>
              </div>
            </div>
            <% end %>
          <% else %>
          <%= link_to 'LOG IN', new_session_path %> <%= link_to 'SIGN UP', new_user_path %>
          <%end%>

      <div class="invis_temp">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

    </div>

  </nav>

  <!-- SIDE MENU -->


  <i class="fa fa-comment fa-2x"></i>


  <div class="side_menu_wrapper">

    <div class="side_menu_container">

      <div class="side_menu_top_bar">
        <div class="side_menu_back_chat">
          <i class="fa fa-chevron-left"></i> Chat
        </div>
        <div class="close_container">
          <%= image_tag('eventr-logo-short.svg', :class=>"event_details_btn") %>
          <i class="fa fa-close fa-lg" id="side_menu_close"></i>
        </div>
      </div>

      <!-- GROUP CONTENT CONTAINER -->
      <div class="side_menu_group_content">

        <div class="side_menu_group_event_details">
          <div class="side_menu_group_event_photo">
            <%= image_tag("home-slider/img-weeknd.jpg") %>
          </div>
        </div>

        <div class="side_menu_group_info">

          <h4>THE COOLEST GROUP</h4>

          <div class="side_menu_group_members">
            <h5>12 EVENTRS GOING</h5>
          </div>

          <div class="side_menu_group_members_list">
            <div class="profile_thumbnail">
              <%= image_tag("home-slider/john-legend-1.jpg") %>
            </div>
            <div class="profile_thumbnail">
              <%= image_tag("home-slider/john-legend-1.jpg") %>
            </div>
            <div class="profile_thumbnail">
              <%= image_tag("home-slider/john-legend-1.jpg") %>
            </div>
          </div>

        </div>

        <div class="side_menu_chat">
          <div class="chat_user">
            <div class="profile_thumbnail">
              <%= image_tag("home-slider/john-legend-1.jpg") %>
            </div>
            <div class="side_menu_chat_name_msg">
              <div class="name_time">
                <h5>John Legend</h5>
                <h5>1:40 PM</h5>
              </div>
              <p>Hey! let's meet at Union Station tonight</p>
            </div>
          </div>
        </div>

      </div>

      <!-- MAIN MENU -->
      <div class="side_menu_main_content">

        <!-- GROUPS SECTION -->
        <div class="side_menu_main_groups">
          <h5 id="groups">GROUPS <i class="fa fa-chevron-down"></i></h5>
          <div class="side_menu_main_groups_list">
            <div class="side_menu_main_groups_item">

              <div class="profile_thumbnail">
                <%= image_tag("home-slider/john-legend-1.jpg") %>
              </div>

              <div class="main_menu_group_content">
                <h4>The Coolest Group</h4>
                <h6>12 EVENTRS</h6>
              </div>

            </div>
            <div class="side_menu_main_groups_item">

              <div class="profile_thumbnail">
                <%= image_tag("home-slider/john-legend-1.jpg") %>
              </div>

              <div class="main_menu_group_content">
                <h4>Turnt Up!</h4>
                <h6>12 EVENTRS</h6>
              </div>

            </div>
            <div class="side_menu_main_groups_item">

              <div class="profile_thumbnail">
                <%= image_tag("home-slider/john-legend-1.jpg") %>
              </div>

              <div class="main_menu_group_content">
                <h4>Music lover</h4>
                <h6>12 EVENTRS</h6>
              </div>

            </div>
          </div>
        </div>

        <!-- EVENTRS SECTION -->
        <div class="side_menu_main_eventrs">
          <h5 id="eventrs">EVENTRS <i class="fa fa-chevron-down"></i></h5>
          <div class="side_menu_main_eventrs_list">
            <div class="side_menu_main_eventrs_item">
            <div class="profile_thumbnail">
              <%= image_tag("home-slider/john-legend-1.jpg") %>
            </div>
            <div class="side_menu_chat_name_msg">
              <div class="name_time">
                <% if current_user %>
                <h5><%= render current_user.authored_conversations %></h5>
                <%end %>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>

      <!-- CHAT INPUT BOX -->
      <div class="side_menu_chat_input">
        <div class="map_icon_container">
          <i class="fa fa-map-marker fa-lg"></i>
        </div>
      </div>

    </div>

  </div>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag "jquery.min"%>
  <%= javascript_include_tag "owl.carousel.min"%>

</html>
