<!DOCTYPE html>
<html>
  <head>
    <title>Eventr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>

    <div class="logo">
      <a href="/"><%= image_tag ("eventr-logo.svg")%></a>

    </div>

    <div class="nav_links">
      <a href="/">HOME</a>
      <a href="/events">BROWSE</a>
      <% if current_user==false && current_host==false %>
      <a href="sessions/new">LOG IN</a>
      <%end%>
    </div>

  </nav>

  <body>
    <% if current_user %>
        Signed in as: <%= current_user.name %> <%= link_to 'Log Out', session_path("current"), :method => :delete%>
    <% elsif current_host %>
        Signed in as: <%= current_host.name %> <%= link_to 'Log Out', session_path("current"), :method => :delete%>
    <% else %>
    <%= link_to 'Log in', new_session_path %> or <%= link_to 'Sign Up as User', new_user_path %> or <%= link_to 'Sign Up as Host', new_host_path %>
    <%end%>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
